
// 共通
* {
  margin: 0;
  padding: 0;
}

body {
  // 薄いブルー
  background: #f0f8ff;

  // ヘッダー
  header {
    background: #e6e6fa;

    .hedContents {
      padding: 0 8px;
      padding-bottom: 18px;
      display: flex;
      justify-content: space-between;
      h1 {
        margin: 0 auto;
      }
      .sp-menu {
        #open {
          padding-top: 4px;
          font-size: 32px;
          cursor: pointer;
        }
      }
    }
    .hedContents.done {
      display: none;
    }

    h1 {
      font-size: 16px;
      padding: 16px 0 0 0;
      text-align: center;
    }
  }

  // ハンバーガーメニュー表示
  .overlay {
    text-align: left;
    padding: 32px 8px 8px 8px;
    #close {
      position: absolute;
      top: 8px;
      right: 8px;
      font-size: 32px;
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        margin-top: 24px;
        cursor: pointer;
        animation-name: fadeInAnime;
        animation-duration:3s;
        animation-fill-mode:forwards;
        opacity: 0;
      }
      @keyframes fadeInAnime{
        0% {
          opacity: 0;
        }
      
        100% {
          opacity: 1;
        }
      }
      li:hover {
        color: #b0c4de;
      }
    }
  }

  .overlay.done {
    display: none;
  }

  // 日記画像と文章
  main {
    padding: 0 16px;

    .diary {
      border-bottom: 1px solid #000;
      padding-bottom: 48px;

      p {
        padding: 16px 0;
        line-height: 30px;
      }

    }

    ul {
      padding-left:0
    }
    
    li {
      list-style:none
    }
    
    .done {
      display: none;
    }
  
    // いいね/よくないねボタン
    .container {
      padding: 16px 0 40px 0;
      height: 32px;
      .g-btn {
        display: flex;
        span {
          padding: 0 16px 0 16px;
          cursor: pointer;
        }
      }
      .b-btn {
        display: flex;
        span {
          padding: 0 16px 0 16px;
          cursor: pointer;
        }
      }
      .done {
        display: none;
      }
    }
  }

  footer {
    .history {
      padding: 0 0 0 40px;
    }
  }

}

