
/*  共通 */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background: #f0f8ff;

  // ヘッダー
  header {
    background: #e6e6fa;

    .hedContents {
      padding: 0 8px;
      padding-bottom: 18px;
      display: flex;
      justify-content: space-between;
      h1 {
        margin: 0 auto;
      }
      .sp-menu {
        #open {
          padding-top: 4px;
          font-size: 32px;
          cursor: pointer;
        }
      }
    }
    .hedContents.dnone {
      display: none;
    }

    h1 {
      font-size: 16px;
      padding: 16px 0 0 0;
      text-align: center;
    }
  }

  /* ハンバーガーメニュー表示 */
  .overlay {
    text-align: left;
    padding: 32px 8px 8px 8px;
    #close {
      position: absolute;
      top: 8px;
      right: 8px;
      font-size: 32px;
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        margin-top: 24px;
        cursor: pointer;
        animation-name: fadeInAnime;
        animation-duration:3s;
        animation-fill-mode:forwards;
        &:hover {
          color: #b0c4de;
        }
      }
      @keyframes fadeInAnime{
        0% {
          opacity: 0;
        }
      
        100% {
          opacity: 1;
        }
      }
    }
  }

  .overlay.dnone {
    display: none;
  }

  /* 日記画像と文章 */
  main {
    padding: 0 24px;

    .diary {
      border-bottom: 1px solid #e6e6fa;

      img, video, h2, p {
        width: 50%;
        max-width: 400px;
        min-width: 264px;
      }

      img, video {
        box-shadow: 8px 8px 4px gray;
        border-radius: 8px;
      }

      h2, p {
        padding: 16px 0;
        line-height: 2;
      }

      p {
        margin-bottom: 32px;
      }

      h2 {
        font-weight: normal;
        font-size: 16px;
        text-align: center;
      }

    }

    ul {
      padding-left:0
    }
    
    li {
      list-style:none
    }
    
    .dnone {
      display: none;
    }
  
    // いいね/よくないねボタン
    .good-bad {
      padding: 16px 0 40px 0;
      height: 32px;
      border-bottom: 1px solid #e6e6fa;
      .g-btn {
        display: flex;
        span {
          padding: 0 16px 0 16px;
          cursor: pointer;
        }
      }
      .b-btn {
        display: flex;
        span {
          padding: 0 16px 0 16px;
          cursor: pointer;
        }
      }
      .dnone {
        display: none;
      }
    }
  }

  /* フッター */
  footer {
    margin-top: 24px;
    margin-bottom: 24px;
    .history {
      text-decoration: none;
      margin: 40px;
      padding: 8px 16px 8px 16px;
      background: #b0c4de;
      color: #696969;
      border: 1px solid #808080;
      border-radius: 10px;
    }
    .dnone {
      display: none;
    }
  }

}

