
// 共通
* {
  margin: 0;
  padding: 0;
}

body {
  // 薄いブルー
  background: #f0f8ff;

  // ヘッダー
  header {
    background: #e6e6fa;

    .hedContents {
      // display: flex;
      padding: 0 16px;
      padding-bottom: 18px;
    }

    .hedContents.done {
      display: none;
    }

    h1 {
      font-size: 16px;
      padding: 16px 0 0 0;
      text-align: center;
    }
    .sp-menu {
      margin-left: auto;
      #open {
        position: fixed;
        top: 8px;
        bottom: 0px;
        right: 16px;
        font-size: 32px;
        cursor: pointer;
      }
    }
  }

  // ハンバーガーメニュー表示
  .overlay {
    position: fixed;
    top: 8px;
    bottom: 0px;
    right: 16px;
    background: #e6e6fa;
    text-align: left;
    padding: 32px 8px 520px 8px;
    opacity: 0;
    pointer-events: none;

    #close {
      position: absolute;
      top: 8px;
      right: 8px;
      font-size: 32px;
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        margin-top: 24px;
        transform: translateX(1400px);
        transition: transform .3s;
        cursor: pointer;
      }
      li:hover {
        color: #b0c4de;
      }
    }
  }

  .overlay.show {
    position: static;
    opacity: 1;
    pointer-events: auto;
  }
  .overlay.show li {
    transform: none;
  }
  .overlay.show li:nth-child(1) {
    transition-delay: .1s;
  }
  .overlay.show li:nth-child(2) {
    transition-delay: .2s;
  }
  .overlay.show li:nth-child(3) {
    transition-delay: .3s;
  }
  .overlay.show li:nth-child(4) {
    transition-delay: .4s;
  }
  .overlay.show li:nth-child(5) {
    transition-delay: .5s;
  }
  .overlay.show li:nth-child(6) {
    transition-delay: .6s;
  }
  .overlay.show li:nth-child(7) {
    transition-delay: .7s;
  }
  .overlay.show li:nth-child(8) {
    transition-delay: .8s;
  }

  // 日記画像と文章
  main {
    padding: 0 16px;
    
    p {
      line-height: 30px;
    }

    img {
      opacity: 0.2;
      transition: opacity 2s;
    }

    .changed {
      opacity: 1;
    }
    
    ul {
      padding-left:0
    }
    
    li {
      list-style:none
    }
    
    .done {
      display: none;
    }
    
  }
}

