
// common
* {
  margin: 0;
  padding: 0;
}

body {
  // 薄いブルー
  background: #f0f8ff;

  header {
    background: #e6e6fa;
    h1 {
      font-size: 16px;
      padding: 24px 0;
    }
    .sp-menu {
      margin-left: auto;
      #open {
        font-size: 32px;
        line-height: 64px;
        cursor: pointer;
      }

      #open.hide {
        display: none;
      }
    }

    display: flex;
    padding: 0 16px;
    padding-bottom: 18px;
    border-bottom: 1px solid gray;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.80);
    text-align: right;
    // padding: 64px;
    padding: 64px 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;

    #close {
      position: absolute;
      top: 16px;
      right: 16px;
      font-size: 32px;
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        margin-top: 8px;
        button {
          cursor: pointer;
        }
      }
    }
  }

  .overlay.show {
    opacity: 1;
    pointer-events: auto;
  }

  main {
    padding: 0 16px;
    
    p {
      line-height: 30px;
    }

    img {
      opacity: 0.2;
      transition: opacity 5s;
    }
    
    .changed {
      opacity: 1;
    }
    
    ul {
      padding-left:0
    }
    
    li {
      list-style:none
    }
    
    .done {
      display: none;
    }
    
  }
}




