
/*  共通 */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background: #f0f8ff;

  // ヘッダー
  header {
    background: #e6e6fa;

    .menu-header {
      h1 {
        font-size: 16px;
        padding: 16px 0;
        line-height: 64px;
        text-align: center;
      }
      .contents {
        display: flex;
        p {
          a {
            text-decoration: none;
            color: inherit;
            padding: 0 0 8px 8px;
            @media (min-width: 800px) {
              padding: 0 0 64px 64px;
            }
          }
        }
      }
    }
    .diary-header {
      p {
        text-align: center;
        padding: 16px 0;
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
    .dnone {
      display: none;
    }
  }

  main {
    max-width: 1000px;
    margin: 0 auto;
    .diary-list {
      text-align: left;
      padding: 8px 8px;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li,
         a {
          margin-top: 16px;
          cursor: pointer;
          animation-name: fadeInAnime;
          animation-duration:3s;
          animation-fill-mode:forwards;
          &:hover {
            color: #b0c4de;
          }
        }
        a {
          display: block;
          text-decoration: none;
        }
        @keyframes fadeInAnime{
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }

    .diary-contents {
      border-left: 1px solid #e6e6fa;
      .diary {
        // border-bottom: 1px solid #e6e6fa;
        img,
        video,
        h2,
        p {
          width: 50%;
          max-width: 264px;
          min-width: 264px;
          margin: 0 auto;
        }

        img,
        video {
          box-shadow: 8px 8px 4px gray;
          border-radius: 8px;
          display: block;
        }

        h2,
        p {
          padding: 16px 0;
          line-height: 2;
        }

        p {
          text-align: left;
          margin-bottom: 32px;
        }

        h2 {
          font-weight: bold;
          font-size: 20px;
          text-align: center;
          opacity: .5;
        }

      }
    }

    ul {
      padding-left:0
    }
    
    li {
      list-style:none
    }
    
    .dnone {
      display: none;
    }
  
    // いいね/よくないねボタン
    .good-bad {
      padding: 16px 0 40px 0;
      height: 32px;
      // border-bottom: 1px solid #e6e6fa;
      .g-btn,
      .b-btn {
        display: flex;
        width: 50%;
        max-width: 264px;
        min-width: 264px;
        margin: 0 auto;
        span {
          padding: 0 16px 0 16px;
          cursor: pointer;
        }
      }
    }

    @media (min-width: 800px) {
      .diary-all {
        display: flex;
      }
      .diary-list {
        flex-grow: 1;
      }
      .diary-contents {
        flex-grow: 1;
      }
    }
  }

}

